body,html {
	padding: 0;
	margin: 0;
}
#jumbo{background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.jumbotron{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.name{
	font-family: 'Dosis', sans-serif;
	font-size: 96px;
	color: #FF6347;
	font-weight: 400;
	margin-bottom: 10px;
	text-align: center;
}
.handle{
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	font-size: 64px;
	color: #39FF14;
	margin-bottom: 50px;
	text-align: center;
}

.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar-item {
	float: left;
	display: inline;
}

.navbar-block {
	display: block;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  	padding-bottom: 3px;
  	color: #FFFFFF;
}

.navbar-block:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 2px;
	height: 1px;
	width: 0px;
	background: white;
	transition: width .2s linear;
}

.navbar-block:hover:after {
	width: 96%;
	background: white;
}

.resume {
	font-size: 24px;
	margin-bottom: 10px;
}
